.hook {
    display: flex;
    padding: 1rem 3rem;
    margin: 1rem 3rem;
    width: 100%;
}

.left {
    width: 100%;
    padding: 1rem;
}

.left h1 {
    color: #01996D;
    font-weight: bold;
}

.right p {
    margin: 2rem auto;
    
}

@media only screen and (max-width: 768px) {
    .left {
      padding: 0;
    }

    .right p {
        margin: 2rem 0 1rem 2rem;
    }
}

@media only screen and (max-width: 1000px) {
    .hook {
        margin: 1rem;
        padding: 1rem;
    }

    .left h1 {
        font-size: 2rem;
        width: 100%;
    }
    .left {
        padding: .5rem;
    }

    .right p{
        margin: 2rem 0 1rem 1rem;
    }
}

@media only screen and (max-width: 767px) {
    .hook {
        display: block;
        width: 100%;
        padding: 1rem;
        margin: 2rem 0;
        text-align: center;
    }
    .left {
        width: 100%;
      padding: 0;
    }

    .left h1 {
        font-size: 2rem;
    }

    .right p {
        margin: 0;
    }
}